<div class="container">
  <h1>SightCast Users</h1>
    <% @users.each do |user| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
        <%= image_tag src="/system/users/avatars/000/000/001/thumb/polar_bear.jpg?1457484247" %>
        <%= user.email %><br>
        <%= link_to 'Show', user, id: "sightcastbutton", class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_user_path(user), id: "sightcastbutton", class: "btn btn-primary" %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, id: "sightcastbutton", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
</div>
