<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-md-6 " >
    <div class="panel panel-default" style="margin-top:50px;" >
      <div class="panel-body">
      <h1>Profile:</h1>
        <p>
          <%= image_tag @user.avatar.url(:thumb) %>
          <strong>Email:</strong>
          <%= @user.email %><br>
        </p>
        <%= link_to 'Edit', edit_user_path(@user), id: "sightcastbutton", class: "btn btn-primary" %>
        <%= link_to 'Back', users_path, id: "sightcastbutton", class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-md-3"></div>
</div>
