<body id="usershowbody">
 <div  class="col-md-6 col-md-offset-3">
  <div id="hostpanel" class="panel panel-default" style="margin-top:20px";>
    <div  class="panel-body">
      <h1 style="font-weight:lighter;">Profile</h1>
        <p>
          <%= image_tag @user.avatar.url(:thumb) %>
          <strong>Username:</strong>
          <%= @user.username %><br>
          <strong>Email:</strong>
          <%= @user.email %><br>
        </p>
        <%= link_to 'Edit', edit_user_path(@user), id: "sightcastbutton", class: "btn btn-primary" %>
        <%= link_to 'Back', users_path, id: "sightcastbutton", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</body>
