<body id="sightcast-index-body">
 <div class="col-md-8 col-md-offset-2">
  <div id="sightcastpanel" class="panel panel-default" >
    <div class="panel-body">
      <h1 style="font-weight:lighter;">ALL THE SIGHTCASTS</h1>
      <% @sightcasts.each do | sightcast | %>
      <div class="col-md-4">
        <div id="hostpanel" class="panel panel-default" style="height:180px;" >
          <div class="panel-body" id="hostpanel">
          <p><strong>Title: </strong> <%= sightcast.title %></p>
          <p><strong>Description: </strong> <%= sightcast.description %></p>
          <p><strong>Sightcaster: </strong> <%= sightcast.host.username %></p>
          <p><strong>Scheduled At: </strong> <%= sightcast.scheduled_at %></p>
          <% if current_user == sightcast.host %>
          <p><%= link_to "Start Sightcast", sightcast_path(sightcast) %></p>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</body>
