<script type="text/javascript">
  <% if current_user %>
    var username = "<%= current_user.username %>"; // for string
    getUsername(username);// this is your function in .js file
    isCaster(<%= @sightcaster %>);
  <% end %>
  getCasterName("<%= @caster %>");
  getAppId("<%= ENV["application_identifier"] %>");
  getSightCastId(<%= @sightcast.id %>)
</script>
<style type="text/css">
  #video-container {
      width: 640px;
      height: 360px;
      border: 1px solid black;
      background: #0074bc;
      margin-top: 20px;
      margin: 0 auto;
  }
</style>

<div class = "show_sightcast">

  <h1><%= @sightcast.title %></h1>
  <h3><%= @sightcast.description %></h3>


  <%= form_for @sightcast do |f| %>
    <div class = "field">
      <%= f.hidden_field :meeting_point_id %>
    </div>
  <% end %>

  <div id="video-container"></div>


  <div class="container">

    <div class="row well">
      <div id="error" style="display:none;" class="bg-danger" >
        <h4>An error occurred:</h4>
        <div id="error-content">This is the error</div>

      </div>
      <div class="center-block" style="float:none;width:500px">
          <h4 id="connection_status"></h4>
      </div>
    </div>

    <div class="row well" id="create_meeting_point"  style="display:none;">
      <div class="center-block" style="float:none;width:500px">
          <h4> To create a multi-party call,  create a meetingPoint.</h4><br/>
          <button  class="center-block  btn btn-primary btn-lg" onclick="create()">Create Meeting Point</button>


      </div>
    </div>
    <div class="row well" id="host_meeting_point" style="display:none;">
      <div class="center-block" style="float:none;width:500px">

        <h4>  Now that you have created a meeting point, click host</h4>
        <button  class="center-block btn btn-primary btn-lg" onclick="host()">Host Meeting Point</button>


        <h4>To Join the conference, attendees need the meeting point id (copy and paste the number to the attendee side)</h4>
        <input class="center-block" style="width:230px" id="meeting_point_id_display" type="text"/>

      </div>
    </div>
    <div class="row well" id="join_meeting_point" style="display:none;">
      <div class="center-block" style="float:none;width:500px">

          <h4>  Enter the meeting point id (generated on the host side) and click join</h4>
          <input class="center-block" style="width:230px" id="meeting_point_id" type="text" value='<%=@sightcast.meeting_point_id %>'/>

          <button  class="center-block btn btn-primary btn-lg" onclick="joinViewer()">Join</button>

      </div>
    </div>

  </div>

</div>
