<body  id="sightcastshowbody" style="padding-bottom:40px;">
<div class="container">
  <script type="text/javascript">
    <% if current_user %>
      var username = "<%= current_user.username %>"; // for string
      getUsername(username);// this is your function in .js file
      isCaster(<%= @sightcaster %>);
    <% end %>

    <% if @sightcast.meeting_point_id %>
      var meeting_point_id = "<%= @sightcast.meeting_point_id %>"
      getMeetingPointId(meeting_point_id)
    <% end %>
      isCamera(<%= @camera %>);

    getCasterName("<%= @caster %>");
    getAppId("<%= ENV["application_identifier"] %>");
    getSightCastId(<%= @sightcast.id %>);
    getCameraArray(<%=raw @cameras %>);

  </script>

  <div class = "show_sightcast">

    <div class="col-md-7 ">

       <h1 id="sightcastindexheader" style="color:white">Room Name:<span style="font-weight:lighter"><%= @sightcast.title %></span</h1>
       <h3 id="sightcastindexheader" style="color:white; padding-bottom:7px;">Room Description:<span style="font-weight:lighter"><%= @sightcast.description %></span></h3>


       <%= form_for @sightcast do |f| %>
         <div class = "field">
           <%= f.hidden_field :meeting_point_id %>
         </div>
           <% end %>

          <div id="video-container" style="margin-top:0px; margin-bottom:20px;"></div>
          <div class="panel panel-default" id="sightcastwaitdiv" style="margin-botrailtom:10px;">

            <div class="panel-body">
              <div class="col-md-8">
                <h1>Connecting is easy as 1,2,3..</h1>
              </div>

              </div>
            </div>

            <!-- <p style="font-size:20px;">Camera people:</p> -->
            <div id="sightcast-control" style='display:none;'>
            </div>

      </div>


      <div class="col-md-3 ">
        <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px;margin-top:30px;">
          <div class="panel-body">
              <div id="error" style="display:none;" class="bg-danger" >
                <h4>An error occurred:</h4>
                <div id="error-content">This is the error</div>
              </div>

              <div class="center-block" >
                <h4 style="text-align: center;font-weight:lighter;" id="connection_status"></h4>
              </div>

          </div>
        </div>


        <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
          <div class="panel-body" id="create_meeting_point"  style="display:none;">
            <div class="center-block" style="float:none;">
              <h4 style="text-align: center;font-weight:lighter;"> Step 2.</h4><br/>
              <button id="sightcastbutton" class="center-block  btn btn-primary btn-lg" onclick="create()">Get set..</button>
            </div>
          </div>
        </div>

        <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
          <div class="panel-body" id="host_meeting_point" style="display:none;">
            <div class="center-block" style="float:none;">
                <h4 style="text-align: center;font-weight:lighter;">Step 3.</h4>
                <button id="sightcastbutton"   class="center-block btn btn-primary btn-lg" onclick="host()">CAST!</button>
              <div style="display:none;">
                <h4>To Join the conference, attendees need the meeting point id (copy and paste the number to the attendee side)</h4>
                <input class="center-block" style="width:230px" id="meeting_point_id_display" type="text"/>
              </div>
            </div>
          </div>
        </div>

        <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
          <div class="panel-body" id="invite_cameras" style="display:none;">
            <div class="center-block" style="float:none;text-align:center;">
              <h4>Enter username of cameraperson you wish to invite: </h4>
              <%= form_tag sightcast_path(@sightcast), method: :get, authentication: false, id: 'add_camera' do %>
                <%= text_field_tag :username, params[:username] %><br/><br/>
                <%= submit_tag("Add Camera Person",class: "btn btn-primary", :id => "sightcastbutton" )  %>
              <% end %>
            </div>
          </div>

        </div>



        <div class="row well" id="join_meeting_point" style="display:none;">
          <div class="center-block" style="float:none;">
              <h4> Click join to view the Sightcast</h4>
              <input class="center-block" style="display:none" id="meeting_point_id" type="text"/>

              <button  class="center-block btn btn-primary btn-lg" onclick="joinViewer()">Join</button>
          </div>
        </div>

      <div id="mobile-camera" style="display:none;">
       <a id="mobile-camera-id" href="#">Click here to Film With Your Mobile!</a>
      </div>

    </div>

    <div class="col-md-2">
              <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
                <div class="panel-body" id="camera_people" style="display:none;">
                  <div class="center-block" style="float:none;">
                      <div  id="add_camera_message"></div>
                      <h4 style="text-align: center;font-weight:lighter;" >Camera People</h4>
                      <ul id = "camera_people_list">
                        <% @sightcast.users.each do | camera | %>
                          <li><%= camera.username %></li>
                        <% end %>
                      </ul>
                  </div>
                </div>
              </div>
    </div>


</div>
</div>
