<body  id="sightcastshowbody" style="padding-bottom:40px;">
<div class="container">
  <script type="text/javascript">
    <% if current_user %>
      var username = "<%= current_user.username %>"; // for string
      getUsername(username);// this is your function in .js file
      isCaster(<%= @sightcaster %>);
    <% end %>

    <% if @sightcast.meeting_point_id %>
      var meeting_point_id = "<%= @sightcast.meeting_point_id %>"
      getMeetingPointId(meeting_point_id)
    <% end %>
    isCamera(<%= @camera %>);

    getCasterName("<%= @caster %>");
    getAppId("<%= ENV["application_identifier"] %>");
    getSightCastId(<%= @sightcast.id %>);

  </script>

  <div class = "show_sightcast">
    <div class="col-md-7 ">

       <h1 id="sightcastindexheader" style="color:white">Event: <span style="font-weight:lighter"><%= @sightcast.title %></span></h1>
       <h3 id="sightcastindexheader" style="color:white; padding-bottom:7px;">Description: <span style="font-weight:lighter"><%= @sightcast.description %></span></h3>

       <%= form_for @sightcast do |f| %>
           <%= f.hidden_field :meeting_point_id %>
           <%= f.hidden_field :viewers %>
           <%= f.hidden_field :active %>
        <% end %>
           <div id="video-container"></div>
           <div><img id="vmjpeg_dest" /></div>

        <div class="panel panel-default" id="sightcastwaitdiv" style="margin-botrailtom:10px;">
          <div class="panel-body">
            <div class="col-md-8">
              <h1>Connecting is easy as 1, 2, 3!</h1>
            </div>
          </div>
        </div>

            <!-- <p style="font-size:20px;">Camera people:</p> -->
      <div id="sightcast-control" style='display:none;'></div>
    </div>

    <div class="col-md-3 ">
      <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px;margin-top:30px;">
        <div class="panel-body">
          <div id="error" style="display:none;" class="bg-danger" >
            <h4>An error occurred:</h4>
            <div id="error-content">This is the error</div>
          </div>

            <div class="center-block" >
              <h4 style="text-align: center;font-weight:lighter;" id="connection_status"></h4>
            </div>
        </div>
      </div>


        <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
          <div class="panel-body" id="create_meeting_point"  style="display:none;">
            <div class="center-block" style="float:none;">
              <h4 style="text-align: center;font-weight:lighter;"> Step 2. </h4><br/>
              <button id="sightcastbutton" style="font-weight:lighter" class="center-block  btn btn-primary btn-lg" onclick="create()">Ready!</button>
            </div>
          </div>
        </div>

        <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
          <div class="panel-body" id="host_meeting_point" style="display:none;">
            <div class="center-block" style="float:none;">
                <h4 style="text-align: center;font-weight:lighter;">Step 3. </h4>
                <button id="sightcastbutton" style="font-weight:lighter"   class="center-block btn btn-primary btn-lg" onclick="host()">CAST!</button>
              <div style="display:none;">
                <h4 style="font-weight:lighter">To Join this Sightcast, attendees need the meeting point id.</h4>
                <input class="center-block" style="width:230px" id="meeting_point_id_display" type="text"/>
              </div>
            </div>
          </div>
        </div>

        <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
          <div class="panel-body" id="invite_cameras" style="display:none;">
            <div class="center-block" style="float:none;text-align:center;">
              <h4 style="font-weight:lighter">Enter username of SightCam you wish to invite: </h4>
              <%= form_tag sightcast_path(@sightcast), method: :get, authentication: false, id: 'add_camera' do %>
              <span style="color:grey;">  <%= text_field_tag :username, params[:username] %></span><br/><br/>
                <%= submit_tag("Add SightCam",class: "btn btn-primary", style:"font-weight:lighter", :id => "sightcastbutton" )  %>
              <% end %>
            </div>
          </div>
        </div>

        <div id="hostpanel" class="panel panel-default" >
          <div  class="panel-body"  id="join_meeting_point" style="display:none;float:none;" >
            <% if @sightcast.active %>
              <h4 style="font-weight:lighter"> Click join to view this Sightcast</h4>
              <input style="display:none;" id="meeting_point_id" type="text" value='<%=@sightcast.meeting_point_id %>'/>


              <button id="sightcastbutton" style="font-weight:lighter"  class="center-block btn btn-primary btn-lg" onclick="joinViewer()">Join</button>
            <% else %>
              <h4 style="font-weight:lighter">Sightcast isn't active yet to join.</h4>
            <% end %>

          </div>
        </div>

        <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
          <div class="panel-body" id="end_sightcast" style="display:none;">
            <div class="center-block" style="float:none;text-align:center;">
              <h4 style="font-weight:lighter">Click to end Sightcast</h4>
              <button id="end_sightcast_button" style="font-weight:lighter;background-color:#ff0048;border:none;"  class="center-block btn btn-primary btn-lg" onclick="endSightcast()">End Sightcast</button>
            </div>
          </div>
        </div>


        <!-- <div class="row well" id="join_meeting_point" style="display:none;">
          <div class="center-block" style="float:none;">
              <h4> Click join to view the Sightcast</h4>
              <input class="center-block" style="display:none" id="meeting_point_id" type="text" value='<%=@sightcast.meeting_point_id %>'/>

              <button  class="center-block btn btn-primary btn-lg" onclick="joinViewer()">Join</button>
          </div>
        </div> -->

        <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
          <div class="panel-body" id="mobile-camera" style="display:none;">
            <div class="center-block" style="float:none;text-align:center;">
              <a id="mobile-camera-id" href="#">Click here to Film with your mobile as SightCam!</a>
            </div>
          </div>
        </div>



  </div>
    <div class="col-md-2">
      <div id="hostpanel" class="panel panel-default" style="margin-bottom:3px">
        <div class="panel-body" id="camera_people" style="display:none;">
          <div class="center-block" style="float:none;">
            <div  id="add_camera_message"></div>
              <h4 style="text-align: center;font-weight:lighter;">SightCam List:</h4>
                <ul id = "camera_people_list">
                <% @sightcast.users.each do | camera | %>
                  <li><%= camera.username %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <div id="hostpanel" class="panel panel-default" >
          <div  class="panel-body"  id="display_viewers" style="display:none;float:none;" >
            <h4 style="font-weight:lighter"> Number Of Viewers</h4>
            <span id = "num_viewers">0</span>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
