<body >
<div class="container">

<script type="text/javascript">
  <% if current_user %>
    var username = "<%= current_user.username %>"; // for string
    getUsername(username);// this is your function in .js file
    isCaster(<%= @sightcaster %>);
  <% end %>
  getCasterName("<%= @caster %>");
  getAppId("<%= ENV["application_identifier"] %>");
  getSightCastId(<%= @sightcast.id %>)
</script>
<style type="text/css">
  #video-container {
      width: 640px;
      height: 360px;
      border: 2px solid white;
      background: #0074bc;
      margin-top: 20px;
      margin: 0 auto;
      border-radius:5px;
      margin-bottom: 35px;
      margin-top:35px;
      -webkit-box-shadow: 0px 0px 39px 0px rgba(148,148,148,1);
  -moz-box-shadow: 0px 0px 39px 0px rgba(148,148,148,1);
  box-shadow: 0px 0px 39px 0px rgba(148,148,148,1);
  }
</style>

<div class = "show_sightcast">

  <h1>Room Name:<%= @sightcast.title %></h1>
  <h3>Room Description:<%= @sightcast.description %></h3>


  <%= form_for @sightcast do |f| %>
    <div class = "field">
      <%= f.hidden_field :meeting_point_id %>
    </div>
  <% end %>



  <div id="video-container"></div>



  <div class="col-md-6 col-sm-offset-3">
        <div class="row well">
            <div id="error" style="display:none;" class="bg-danger" >
              <h4>An error occurred:</h4>
              <div id="error-content">This is the error</div>
            </div>

            <div class="center-block" style="float:none;width:500px">
                <h4 id="connection_status"></h4>
            </div>
        </div>



      <div class="row well" id="create_meeting_point"  style="display:none;">
        <div class="center-block" style="float:none;">
            <h4> To create a multi-party call,  create a meetingPoint.</h4><br/>
            <button id="sightcastbutton" class="center-block  btn btn-primary btn-lg" onclick="create()">Create Meeting Point</button>
        </div>
      </div>


    <div class="row well" id="host_meeting_point" style="display:none;">
      <div class="center-block" style="float:none;">
        <h4>  Now that you have created a meeting point, click host</h4>
        <button id="sightcastbutton"   class="center-block btn btn-primary btn-lg" onclick="host()">Host Meeting Point</button>
        <h4>To Join the conference, attendees need the meeting point id (copy and paste the number to the attendee side)</h4>
        <input class="center-block" style="width:230px" id="meeting_point_id_display" type="text"/>
      </div>
    </div>
<<<<<<< .merge_file_Fiennd
=======

    <div class="row well" id="invite_cameras" style="display:none;">
      <div class="center-block" style="float:none;width:500px">
        <h4>Enter username of cameraperson you wish to invite: </h4>
        <%= form_tag sightcast_path(@sightcast), method: :get, authentication: false, id: 'add_camera' do %>
          <%= text_field_tag :username, params[:username] %>
          <%= submit_tag "Add Camera Person" %>
        <% end %>
      </div>
    </div>

    <div class="row well" id="camera_people" style="display:none;">
      <div class="center-block" style="float:none;width:500px">
        <div id="add_camera_message">

        </div>
        <h4>Camera People</h4>
        <ul id = "camera_people_list">
          <% @sightcast.users.each do | camera | %>
            <li><%= camera.username %></li>
          <% end %>
        </ul>

      </div>
    </div>

    <div class="row well" id="join_meeting_point" style="display:none;">
      <div class="center-block" style="float:none;width:500px">
>>>>>>> .merge_file_vvItNK




    <div class="row well" id="join_meeting_point" style="display:none;">
      <div class="center-block" style="float:none;">
          <h4>  Enter the meeting point id (generated on the host side) and click join</h4>
          <input class="center-block" style="width:230px" id="meeting_point_id" type="text" value='<%=@sightcast.meeting_point_id %>'/>
          <button  class="center-block btn btn-primary btn-lg" onclick="joinViewer()">Join</button>
      </div>
    </div>

  </div>
</div>

</div>
</body>
