<!DOCTYPE html>
<html>
<head>
  <title>Sightcast - Share what you see</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://download.rtccloud.net/js/webappid/<%= ENV["application_identifier"] %>"></script>
  <link rel="icon" href="favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <!-- This render _nav.html.erb (styles) partial -->
  <%= render '/layouts/nav' %>

  <div>
    <span id="notice"><%= flash[:notice] %></span>
    <span id="alert"><%= flash[:alert] %></span>
  </div>

<%= yield %>


<%= render '/layouts/footer' %>
</body>
</html>
